

input.blue-input
{
border-bottom: 1px solid blue  !important;
box-shadow: 0 1px 0 0 #fff  !important;

}
input.blue-input+label{
    color: blue !important;
}

input.blue-input:focus
{
    border-bottom: 1px solid blue  !important;
    box-shadow: 0 1px 0 0 blue  !important;
}

body{
    font-size: large;
    letter-spacing: 2x;
    background: url('pexels-karolina-grabowska-4202464.jpg') no-repeat;
    background-size: cover;
}

.nav-link
{
    color: white !important;
}