.forGrid
{
    align-items: center;
    margin-top: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 1rem;
    margin-bottom: 5%;
}

.gridItem
{
    justify-self: center;
    color: white;
    width: 250px;
    height: 250px;
    text-align: center;
    align-items: center;
}

img{
    width: 100px;
    height: 100px;
}

